
name: lint
on:
  push:
    branches:
      - master
    pull_request:
      branches:
        - master
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Setup project with pip
        run: "pip install -e .[dev]"
      - name: Check formatting
        run: black --check sentry2csv
      - name: Lint code
        run: pylint sentry2csv
      - name: Check typings
        run: mypy sentry2csv
